.cgt-main-header{
    height: 96px;
    background-color: $navy;
    position: relative;
    float: left;
    width: 100%;
    z-index: -10;
}
.cgt-Subheader{
    height: 96px;
    background-color: $grey;
    position: relative;
    float: left;
    width: 100%;
    z-index: -10;
}