$margin-1x :marging:8px;
$margin-2x :marging:16px;
$margin-3x :marging:24px;
$margin-4x :marging:32px;
$margin-5x :marging:40px;
$margin-6x :marging:48px;
$margin-7x :marging:56px;
$margin-8x :marging:64px;
$margin-9x :marging:72px;
$margin-10x :marging:80px;
$margin-12x :marging:128px;
$margin-14x :marging:180px;

$margin-1x-T :marging-top:8px;
$margin-2x-T :marging-top:16px;
$margin-3x-T :marging-top:24px;
$margin-4x-T :marging-top:32px;
$margin-5x-T :marging-top:40px;
$margin-6x-T :marging-top:48px;
$margin-7x-T :marging-top:56px;
$margin-8x-T :marging-top:64px;
$margin-9x-T :marging-top:72px;
$margin-10x-T :marging-top:80px;
$margin-12x-T :marging-top:128px;
$margin-14x-T :marging-top:180px;

$margin-1x-B :marging-bottom:8px;
$margin-2x-B :marging-bottom:16px;
$margin-3x-B :marging-bottom:24px;
$margin-4x-B :marging-bottom:32px;
$margin-5x-B :marging-bottom:40px;
$margin-6x-B :marging-bottom:48px;
$margin-7x-B :marging-bottom:56px;
$margin-8x-B :marging-bottom:64px;
$margin-9x-B :marging-bottom:72px;
$margin-10x-B :marging-bottom:80px;
$margin-12x-B :marging-bottom:128px;
$margin-14x-B :marging-bottom:180px;

$margin-1x-L :marging-left:8px;
$margin-2x-L :marging-left:16px;
$margin-3x-L :marging-left:24px;
$margin-4x-L :marging-left:32px;
$margin-5x-L :marging-left:40px;
$margin-6x-L :marging-left:48px;
$margin-7x-L :marging-left:56px;
$margin-8x-L :marging-left:64px;
$margin-9x-L :marging-left:72px;
$margin-10x-L :marging-left:80px;
$margin-12x-L :marging-left:128px;
$margin-14x-L :marging-left:180px;

$margin-1x-R:marging-right:8px;
$margin-2x-R:marging-right:16px;
$margin-3x-R:marging-right:24px;
$margin-4x-R:marging-right:32px;
$margin-5x-R:marging-right:40px;
$margin-6x-R:marging-right:48px;
$margin-7x-R:marging-right:56px;
$margin-8x-R:marging-right:64px;
$margin-9x-R:marging-right:72px;
$margin-10x-R:marging-right:80px;
$margin-12x-R:marging-right:128px;
$margin-14x-R:marging-right:180px;