$navy :#043263;
$blue-regular : #1973B8;
$blue-light: #4093d3;
$blue-dark: #176aaa;
$blue-darkest: #072146;
$light-Gray :#F4F4F4;
$dark-Gray :#D2D2D2;
$darkest-Gray : #666666;
$red : #DA3851;
$aqua: #02A5A5;
$grey :#E9E9E9;
$black :#121212;
$white : #fff;

$book: "Benton Sans book","Helvetica Neu",sans-serif;
$medium: "Benton Sans Medium","Helvetica Neu",sans-serif;

$emValue: 8px;
